.env
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
backend.log
doc2dial_v1.0.1/
app/unsloth_compiled_cache/
app/my_finetuned_model/
app/granite-4.0-h-micro-Q4_K_M.gguf
venv/
.venv/
node_modules/
frontend/node_modules/
dist/
build/
.DS_Store
