services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: user123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  redis:
   image: redis:latest
   container_name: redis_server
   ports:
     - "6379:6379"
   volumes:
     - redis_data:/data
volumes:
  mysql_data:
  redis_data: 