fastapi
uvicorn
sqlalchemy
mysql-connector-python
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
unsloth
torch
xformers
trl
peft
accelerate
bitsandbytes
datasets
tavily-python
